*{
    background-color:black;
    color: aliceblue;



}


header,
main,
footer {
    display: grid;
    grid-template-rows: auto;
    margin: 0 auto;
    width: auto;
    justify-content: center;
    padding: 0;
    font-size: 28px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    



}
banner {
    display: flex;
    justify-content: center;
    padding-top: 0%;
    height: 19em;

}
h1,h2 {
    display: flex;
    justify-content: center;
    
}
body img {
    display: flex;
    justify-content: center;
    padding: 0rem auto;
}
main section img{
background: rgb(114, 114, 114);
    padding: 0em;
    align-items: center;
    width: 100%;
    border: 1px solid #222;
}

main {
display: flex;
flex-direction: column;
flex-wrap: wrap;
max-width: 50%;

}
html {
    font-size: 16px;
    color:rgb(0, 0, 0);

    margin-top: 0em;

}
footer{
    display: flex;
    justify-content: center;

}
