* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
html {
    font-size: 16px;
    color:#fff;

    margin-top: 3em;

}

h3
 {
    display: flex;
    justify-content: center;
    color: #666;


}
h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: rgb(189, 178, 178);
}
body span{
    font-size: xx-large;
    font-style:italic;
}

body banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5em auto;
    left: 0;
    height: 300px;
    width: 100%;
    opacity: .3;
    background-image:  url(/Website/images/Blockchainbanner.png);
}

header,
main,
footer {
    display: grid;
    grid-template-rows: auto;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: center;
    width: 100%;
    
    

}


body span{
    display: flex;
    justify-content: center;


}
@font-face {
    font-family: 'supermercadoregular';
    src: url(/Website/fonts/SupermercadoOne-Regular.ttf);
    font-style: normal;
    font-weight: 100;

}
@font-face {
    font-family: 'cinzelregular';
    src: url(/Website/fonts/Cinzel-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'handleeregular';
    src: url(/Website/fonts/Handlee-Regular.ttf);

}
header h1{
    padding-left: .1em;
    color: rgb(255, 255, 255);
    font-family: 'supermercadoregular';
    font-weight: normal;
    font-style: normal;
    font-size: 7em;
    align-items: center;
}
header img {
    align-items: center;
    max-width: 200px;
    margin: 0% auto;

}
h2{
    font-family: handleeregular ;
    font-size: 60px;
}
header span{
    display: flex;
    font-size: 1.5;
    color: #999;
    justify-content: center;

}
body header{
    padding-top: 2em;
    justify-content: center;
}

nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    opacity: .8;
    
    background-color: rgb(10, 10, 10);

}
nav a{
    padding: 1em 1em;
    margin: 1em 0em 0em;

    text-decoration:none ;
    color:rgb(156, 156, 156);
    font-size: 18px;
    background-color: rgb(5, 5, 5);
}
nav a:hover {
    background: rgb(104, 8, 8);

}
nav ul{
    padding-top: 1em;;
    border: 3px rgb(139, 5, 5);
}
section {
    padding: 1em 1em 1em 3em;
}
section > p{
    font-family: cinzelregular;
    font-style: normal;
    margin: 1em 0;
    padding: 1em 1em 1em 1em;
    font-size: 26px;
    line-height: 180%;
    color: rgb(221, 217, 217);

}
section ul{
    padding-left: em;



}
#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    


}

#products article {
    background: rgb(114, 114, 114, 15%);
    padding: 1em;

}
#products article img {
    background: rgb(0, 0, 0);
    padding: 0em;
    align-items: center;
    width: 100%;
    border: 1px solid #222;

}
#products article p {
        align-items: center;
}

footer {
    margin-top: em;
    margin-bottom: 1em;
    background: rgb(22, 22, 22);
    color: #fff;


}
#downloadbutton{
    opacity: .45;
}